.row-head-item{
	color: white;
}
.row-head{
	border-bottom: 2px solid #aaa;
}
.row-body{
	border-bottom: 1px solid #aaa;
}
.row-head > .col{
	padding-top: 15px;
}
.row-body > .col{
	padding-top: 23px;
}
.tabs-bottom{
	position: absolute;
    bottom: 0;
    clear: both;
}
    