.row-head-item{
	font-weight: bold;
}
.row-head{
	border-bottom: 2px solid #aaa;
}
.row-body{
	border-bottom: 1px solid #aaa;
}
.row-body > .col{
	padding-top: 12px;
}
.tabs-bottom{
	position: absolute;
    bottom: 0;
    clear: both;
}
    