.datePick{
	width:100%;
	background-color: #5793f3;
	height: 35px
}
.row{
	height: 56px;
}
.font-green{
	color:blue;
}
.font-warning{
	color:#d44207;
}
input[placeholder], [placeholder], *[placeholder] {
   color:white !important;
}
input.white::-webkit-input-placeholder{  
	color:white;/* WebKit browsers */
}
input.white:-moz-placeholder{  
	color:white;/* Mozilla Firefox 4 to 18 */
}
input.white::-moz-placeholder{
	color:white;/* Mozilla Firefox 19+ */
}
input.white:-ms-input-placeholder{ 
	color:white;/* Internet Explorer 10+ */
}

