/*--------------------------------------首页------------------------------------------*/
#homeChart{
  width:100%;
  height:60%;
}
/*-------------------------------------设置页------------------------------------------*/
.setting_container{
  height:80%
}
.logoutButtomDom{
  height:20%;
  position:relative;
}
#logoutButtomDom{
  position:absolute;
  bottom:0px;
}
